.Content {
  background-color: rgb(232, 232, 232);
}

img {
  position: static;
  width: 100%;
  top: 0;
}

.statement {
  position: absolute;
  max-width: 85vh;
  top: 200px;
  right: 10px;
}

.slogan {
  font-family: 'RecifeText';
  font-style: italic;
  font-size: 45px;
  font-weight: 500;
}

.boldText {
  font-family: 'Beatrice';
  font-style: normal;
  font-size: 40px;
}

.blurb {
  white-space: pre-line;
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: 400;
}

/* Benefit list styling */

.title {
  width: 70%;
  top: 900px;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  font-family: 'RecifeText';
  font-style: italic;
  font-weight: 500;
  font-size: 55px;
  color: black;
  z-index: 0;
}

.content {
  max-width: 60%;
}

.benefitsList {
  margin: 150px;
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 60%;
  z-index: 1;
}

.benefit {
  width: 90%;
  display: flex;
}

.benefitNumber {
  font-size: 60px;
  font-family: 'RecifeText';
  font-style: italic;
  padding-right: 20px;
  line-height: 20px;
  color: #4cafaa;
}

.benefitTitle {
  line-height: 2px;
  padding-top: 40px;
}

.numberTitle {
  font-family: 'roboto';
  font-size: 13px;
  font-style:normal;
  font-weight: 800;
  color: black;
}




