.content {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Content {
  width: 100%;
  display: flex;
  flex-direction: column;
  line-height: 0;
  background-color: rgb(255, 255, 253);
}

.banner img {
  position: static;
  width: 100%;
  top: 0;
  z-index: 0;
}

.statement {
  position: absolute;
  max-width: 85vh;
  top: 200px;
  right: 10px;
  line-height: 25px;
}

.slogan {
  font-family: 'RecifeText';
  font-style: italic;
  font-size: 45px;
  font-weight: 500;
  line-height: 40px;
}

.boldText {
  font-family: 'Beatrice';
  font-style: normal;
  font-size: 40px;
}

@media only screen and (max-width: 500px) {
  .statment {
    white-space: pre-line;
    position: absolute;
    max-width: 50%;
    line-height: 25px;
  }

  .slogan {
    font-family: 'RecifeText';
    font-style: italic;
    font-size: 25px;
    font-weight: 300;
    line-height: 20px;
  }

  .boldText {
    font-family: 'Beatrice';
    font-style: normal;
    font-size: 20px;
  }

  .blurb {
    white-space: pre-line;
    font-family: 'Roboto';
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
  }
}

.blurb {
  white-space: pre-line;
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
}

/* Benefit list styling */

.title {
  width: 70%;
  top: 1000px;
  right: 70vh;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  font-family: 'RecifeText';
  font-style: italic;
  font-weight: 500;
  font-size: 8vh;
  color: black;
}

@media only screen and (max-width: 500px) {
  .title {
    display: none;
  }
}

.benefitsList {
  margin: 150px 150px 0px 150px;
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 1;
  line-height: 20px;
}

@media only screen and (max-width: 500px) {
  .benefitsList {
    margin: 100px 0px 0px 0px;
    display: flex;
    flex-direction: column;
  }
}

.benefit {
  width: 80%;
  display: flex;
}

.benefitNumber {
  font-size: 60px;
  font-family: 'RecifeText';
  font-style: italic;
  padding-right: 20px;
  line-height: 20px;
  color: #77cdc8;
}

.benefitTitle {
  line-height: 2px;
  padding-top: 40px;
  white-space: nowrap;
}

.numberTitle {
  font-family: 'roboto';
  font-size: 13px;
  font-style:normal;
  font-weight: 800;
  color: black;
}

.featureComponent {
  position:static;
  margin-top: 0;
}




