img {
  max-height: 100vh;
}

.statement {
  position: absolute;
  max-width: 85vh;
  top: 200px;
  right: 10px;
}

.slogan {
  font-family: 'RecifeText';
  font-style: italic;
  font-size: 45px;
  font-weight: 500;
}

.boldText {
  font-family: 'Beatrice';
  font-style: normal;
  font-size: 40px;
}

.blurb {
  white-space: pre-line;
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: 400;
}



