body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Content */

.content img {
  max-height: 200px;
}

/* footer */
.footer {
  display: flex;
  flex-direction: column;
  background-color: black;
  list-style-type: none;
}

.container {
  flex-grow: 1;
}

.company {
  display: flex;
  flex-direction: column;
}

.footer .links {
  color: white;
  text-decoration: none;
}

.footer .links:hover {
    text-decoration: underline;
}
