body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Content */

.content img {
  max-height: 200px;
}

/* footer */
.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: black;
  list-style-type: none;
  min-height: 100vh;
}

.navContainer {
  display: flex;
}

.company {
flex-grow: 1;
flex-basis: 100%;
}

.features {
  flex-grow: 1;
  flex-basis: 100%;
  }

.resources {
  flex-grow: 1;
  flex-basis: 100%;
  }

.logo {
  flex-wrap: wrap;
  max-width: 15vh;
}

.copyright {
  color: grey;
  font-size: 2vh;
}

.social {
  color: white;
  flex-grow: 1;
}

.links {
  color: white;
  text-decoration: none;
}

.links:hover {
    text-decoration: underline;
}

.linkItems {
  color: grey;
  text-decoration: none;
}

.linkItems:hover {
  text-decoration: underline;
}
